
    <div class="container">
        @Html.Partial("_Menu")
      <!-- Jumbotron -->
      <div class="minitron">
        <h1>Free Summer Camp Software</h1>
        <p class="lead">If you think free is always best, think again!</p>
<br />

          <p>
              While paying less for something is normally a great thing, when it comes to deciding on software for running your camps, you should reconsider that requirement.
            You likely expect that your software will be the backbone of your business.  It will store all of your customer contact details, will be used many times per day
              by your staff and will deposit money into your bank account after sales take place.  Once you begin using it, very quickly it will become an integral part of your
              business.  <br /><Br />
              What if one day it stops working for 1 hour?  What if a customer hands you a credit card to pay a large bill and the system is down?
              <br /><br />
              All of these things are possible and well designed summer camp sftware and the company behind it will never let these things happen. In order to provide that level of
              stability and support however, the company behind your software needs to afford everything that goes into making quality software and providing a great experience.
              <br /><br />As a small business owner yourself, you can apperciate why paying a fair price for your camp software is critical to ensuring you are using a quality product.
              You get what you pay for!
          </p>
          <br />
             <p class="lead">What's the best camp scheduling and booking software? Check out our reviews</p>
           <a class="btn btn-large btn-success" href="/campsoftware/reviews">Camp Software Reviews</a>
      </div>
    
<hr />
@Html.Partial("_Footer");

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.nav li').removeClass('active');
        $('#camp').addClass('active');
    });

</script>

