
    <div class="container">
        @Html.Partial("_Menu")


      <!-- Jumbotron -->
      <div class="minitron">
        <h1>Gymnastics Software Reviews</h1>
        <p class="lead">Trying to choose a gymnastics software system? You've come to the right place! </p>

      </div>

      <hr>

        <div class="row-fluid">
        <table class="table table-bordered">
              <thead>
                <tr >
                  <th class="reviewHeader" colspan="6">
                      <span class="badge badge-success"><h2>9.0</h2></span>
                      <h2 style="display:inline-block">
                          <a rel="nofollow" target="_blank" href="http://jackrabbitclass.com">Jack Rabbit</a>

                      </h2>
                  </th>    
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td class="bold">Accounts <span class="score">90</span></td>
                      <td class="bold">Classes<span class="score">85</span></td>
                      <td class="bold">Pricing<span class="score">55</span></td>
                      <td class="bold">Payment<span class="score">75</span></td>
                      <td class="bold">Website<span class="score">85</span></td>
                      <td class="bold">Calendar<span class="score">60</span></td>
                </tr>
                <tr>
                  <td>Student info sheets, class roll report, absence reports, customer portal for information collection, student search </td>
                  <td>Sign in sign out sheets, class categories, email a class, enrollment snapshots</td>
                  <td>Pricing is by number of students in contact database. $45/mo up to 100, $95/mo up to 250, $125 up to 500, $155 up to 1000</td>
                  <td>Allows fees which parents pay later, creditcards, ACH to your bank, receipt printing, Quickbooks export</td>
                  <td>Website integration for portal is not on your site but in a new tab, allows embedding class schedule </td>
                  <td>Calendar can be embedded on website, track staff hours</td>
                </tr>
                
              </tbody>
            </table>
        <table class="table table-bordered">
              <thead>
                <tr >
                  <th class="reviewHeader" colspan="6">
                      <span class="badge badge-success"><h2>8.5</h2></span>
                      <h2 style="display:inline-block">
                          <a rel="nofollow" target="_blank" href="http://iclasspro.com">iClassPro</a>

                      </h2>
                  </th>                
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td class="bold">Accounts <span class="score">80</span></td>
                      <td class="bold">Classes<span class="score">79</span></td>
                      <td class="bold">Pricing<span class="score">70</span></td>
                      <td class="bold">Payment<span class="score">65</span></td>
                      <td class="bold">Website<span class="score">75</span></td>
                      <td class="bold">Calendar<span class="score">50</span></td>
                </tr>
                <tr>
                  <td>Enrollment history, attendance records, student skill level, waitlist, discounts, waviers </td>
                  <td>Group enrollement, parent portal, </td>
                  <td>Pricing is by # of locations. $129/mo one location, $109/mo 2-5 locations, $99/mo 6-10 locations, $79/month 11-49 locations </td>
                  <td>Online payments, ACH bank, email invoice, track payments, financial reports, receipts </td>
                  <td>Allows link to parent portal but not embedding, link to your live calendar</td>
                  <td>Track staff hours, basic calendaring  </td>
                </tr>
                
              </tbody>
            </table>
        <table class="table table-bordered">
              <thead>
                <tr >
                  <th class="reviewHeader" colspan="6">
                      <span class="badge badge-success"><h2>7.0</h2></span>
                      <h2 style="display:inline-block">
                          <a rel="nofollow" target="_blank" href="http://classjuggler.com">Class Juggler</a>
                      </h2>
                  </th>                
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td class="bold">Accounts <span class="score">70</span></td>
                      <td class="bold">Classes<span class="score">80</span></td>
                      <td class="bold">Pricing<span class="score">60</span></td>
                      <td class="bold">Payment<span class="score">55</span></td>
                      <td class="bold">Website<span class="score">75</span></td>
                      <td class="bold">Calendar<span class="score">50</span></td>
                </tr>
                <tr>
                  <td>Student info sheets, attendance records, class history, customer search tools</td>
                  <td>Conflict fixing, waiting lists, class history, good class scheduling flexablity</td>
                  <td>Pricing is by number of students in contact database. $40/mo for creditcard services plus the following: $40/mo up to 150, $45/mo up to 300, $50 up to 450, $55 up to 600</td>
                  <td>Receipt printing, allows creditcard but requires merchant account, extra charge for creditcard</td>
                  <td>Website integration for registration and portal is not on your site but in a new tab</td>
                  <td>Calendar can be embedded on website but poor visuals</td>
                </tr>
                
              </tbody>
            </table>
        <table class="table table-bordered">
              <thead>
                <tr >
                  <th class="reviewHeader" colspan="6">
                      <span class="badge badge-success"><h2>5.9</h2></span>
                      <h2 style="display:inline-block">
                          <a rel="nofollow" target="_blank" href="https://www.schedulicity.com/Essentials/Everything-You-Need.aspx">schedulicity</a>

                      </h2>
                  </th>                
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td class="bold">Accounts <span class="score">10</span></td>
                      <td class="bold">Classes<span class="score">85</span></td>
                      <td class="bold">Pricing<span class="score">79</span></td>
                      <td class="bold">Payment<span class="score">0</span></td>
                      <td class="bold">Website<span class="score">30</span></td>
                      <td class="bold">Calendar<span class="score">95</span></td>
                </tr>
                <tr>
                  <td>No customer account management, limited data collection</td>
                  <td>Register online, class reminders, send email to class</td>
                  <td>$19.95/mo single user on staff, $40/mo for multi-staff </td>
                  <td>Does not enable selling online, only scheduling. Not a way to sell. </td>
                  <td>Calendar and scheduling from website, but no selling or customer portal</td>
                  <td>Great calendar function for staff and internal business functions, sync with devices</td>
                </tr>
                
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead>
                <tr >
                  <th class="reviewHeader" colspan="6">
                      <span class="badge badge-success"><h2>4.5</h2></span>
                      <h2 style="display:inline-block">
                          <a rel="nofollow" target="_blank" href="http://www.igogymnasticsoftware.com/">iGo Figure</a>

                      </h2>
                  </th>                
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td class="bold">Accounts <span class="score">30</span></td>
                      <td class="bold">Classes<span class="score">15</span></td>
                      <td class="bold">Pricing<span class="score">45</span></td>
                      <td class="bold">Payment<span class="score">75</span></td>
                      <td class="bold">Website<span class="score">0</span></td>
                      <td class="bold">Calendar<span class="score">45</span></td>
                </tr>
                <tr>
                  <td>Assess the status of students, membership based, targetted at health and fitness clubs</td>
                  <td>Few class options, mainly targetted at memberships only</td>
                  <td>$999 setup with $69/month for hosted version. Unclear if setup fee is actually required. </td>
                  <td>Online payments, ACH bank</td>
                  <td>No, unable to show classes and schedules on your website</td>
                  <td>Track staff timesheets & commissions, basic calendaring  </td>
                </tr>
                
              </tbody>
            </table>
      </div>

      <hr>

@Html.Partial("_Footer");

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.nav li').removeClass('active');
        $('#gym').addClass('active');
    });

</script>

