

    <div class="container">

      @Html.Partial("_Menu")

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Online Booking Software</h1>
        <p class="lead">Free Online Booking software for your small business.  Do you ask what "online booking system to use for my website"? </p>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Gym Software</h2>
          <p>Need help with gymnastics management? Take a look at some great tips for gymnastics software</p>
        </div>
        <div class="col-md-4">
          <h2>Dance Studio</h2>
          <p>Are you thinking about better managing your dance studio business with software? Maybe our Dance studio software reviews will help!</p>
       </div>
        <div class="col-md-4">
          <h2>Class Booking Engine</h2>
          <p>Looking for a class internet booking engine for your website? Maybe you want to put a yoga class schedule there too and let people book?</p>
        </div>
      </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-4">
                <a class="btn btn-large btn-success" href="/bestgymnasticssoftware">Gymnastics Software &raquo;</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-large btn-success" href="/bestdancestudiosoftware">Dance Studio Software &raquo;</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-large btn-success" href="/classbookingsoftware">Class Booking Software &raquo;</a>
            </div>
        </div>

      <hr>

      @Html.Partial("_Footer");

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.nav li').removeClass('active');
        $('#home').addClass('active');
    });

</script>
