      <div class="masthead">
        <h3 class="muted">Booking as a Service</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li id="home" class="active"><a href="/">Home</a></li>
                <li id="gym"><a href="/bestgymnasticssoftware">Gymnastics Software</a></li>
                <li id="dance"><a href="/bestdancestudiosoftware">Dance Studio</a></li>
                <li id="class"><a href="/classbookingsoftware">Class Software</a></li>
                <li id="camp"><a href="/campsoftware">Summer Camps</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
