

 body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

        .minitron {
            margin-top:80px;
        }
      .minitron h1 {
        font-size: 50px;
        line-height: 1;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar-nav.nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar-nav.nav li {
        display: table-cell;
        float: none;
      }
      .navbar-nav.nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar-nav.nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar-nav.nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }

.score {
    font-weight:bold;
    color:blue;
    margin-left:20px;
}
    td.bold {
        font-weight:bold;
        background-color:#eee;
    }

th.reviewHeader {
    background-color:#d9edf7;
    color:#3a87ad;
    column-span:all;

}

.table-bordered {
margin-bottom:40px;
}

th .btn-success {
    margin-right:20px;
}
